# Python build and distribution
__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
eggs/
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/

# Documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# OS specific
.DS_Store
Thumbs.db

# UV specific
.uv/